{% extends 'base.html.twig' %}

{% block title %}GCMS - Admin{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ path('assets') }}/css/admin.css">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet"> 

{% endblock %}

{% block body %}

<section id="wrapper">

	<header>

		<nav>

			<a id="gcms_logo" href="{{ path('admin_home') }}">
				<img height="40" src="{{ path('assets') }}/site_config/images/logo.png" alt="Logo">
				<span>GCMS</span>
			</a>

			<section id="gcms_bar">

				<p>
					<i class="material-icons">account_circle</i>
					<span>{{ app.user.username }}</span>
				</p>

				<p>
					<a href="{{ path(site_homepage) }}" title="Open the website"><i class="material-icons">open_in_new</i></a>
				</p>

			</section>

		</nav>

	</header>

	<main>
		
		<section id="gcms_menu">
			
			<nav>
				
				<a href="{{ path('admin_pages') }}">Pages</a>
				<section class="dropdown"><a href="{{ path('admin_contenttypes') }}">Entries</a> <span></span>
					<section class="submenu">
						{{ render(controller('App\\Controller\\AdminController::list_contenttypes')) }}
					</section>
				</section>
				<a href="#">Components</a>
				<hr>
				<section class="dropdown">Config <span></span>
					<section class="submenu">
						<a href="#">Routes</a>
						<a href="{{ path('admin_taxonomy') }}">Taxonomy</a>
						<a href="#">Translations</a>
						<a href="{{ path('admin_cacheclear', { lastRoute: app.request.get('_route') }) }}">Clear cache</a>
						<a href="{{ path('admin_logs') }}">Logs</a>
						<a href="{{ path('admin_siteconf') }}">Edit site's config</a>
						<a href="{{ path('admin_database') }}">Edit database's config</a>
					</section>
				</section>
				<a href="{{ path('admin_files') }}">Files</a>
				<a href="#">Themes</a>
				<a href="#">Extensions</a>

			</nav>

		</section>

		<section id="gcms_page">

			{% block gcms_page %}{% endblock %}

		</section>

	</main>	

</section>

<footer>

	<p>&copy; Léo Garcia {{ 'now' | date('Y') }}</p>
	
</footer>

{% endblock %}