{% extends 'admin/layout.html.twig' %}

{% block gcms_page %}
	<p>Your current website's configuration is :</p>
	<p>Name : {{ nameConf }}</p>
	<p>Slogan : {{ sloganConf }}</p>
	<p>Locale : {{ localeConf }}</p>

	<form action="{{ path('admin_siteconf') }}" method="post">
		<input class="long_input" type="text" name="nameConf" value="{{ nameConf }}" required>
		<input class="long_input" type="text" name="sloganConf" value="{{ sloganConf }}" required>
		<input class="long_input" type="text" name="localeConf" value="{{ localeConf }}" required>
		<button type="submit">Update</button>
	</form>
{% endblock %}
